celery[redis]==5.4.0
Pillow==11.1.0
PyMuPDF==1.25.3
pyvips==2.2.3
affine==2.4.0
numpy==2.2.2
rasterio==1.4.3
pytesseract==0.3.13
opencv-python-headless==4.11.0.86
asyncpg==0.30.0
shapely==2.0.7
scikit-image==0.25.2
networkx==3.4.2
